<div class="container mt-4">
  <ng-container *ngIf="notification$ | async as notification">
    <ng-container *appHideAfter="3000">
      <h2 class="text-success">{{notification}}</h2>
    </ng-container>
  </ng-container>

  <app-table [posts]="displayedPosts" [currentUser]="currentUser$ | async" [users]="users"></app-table>

  <div class="d-flex justify-content-end gap-3 align-items-center">
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="btn btn-outline-primary" (click)="prevPage()" [disabled]="currentPage === 1">
      &#11207;
    </button>
    <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">
      &#11208;
    </button>
  </div>
</div>